interface {{pascalCase name}}Props {
  // props here
}

const {{pascalCase name}} = ({ /* props */ }: {{pascalCase name}}Props) => {
  return (
    <div>
      {{pascalCase name}}
    </div>
  )
}

export { {{pascalCase name}} }